<%= form_for(@project, url: update_budget_quota_project_settings_path(id: @project.id), html: {method: :post, :class => 'tabular form-box'}) do |f| %>
  <div class="box">
    <p>
      <%= f.label :budget_quotas_money_rate_type %>
      <%= f.select :budget_quotas_money_rate_type, EasyMoneyRateType.active.map(&:name) %>
    </p>

    <p>
      <%= f.label :budget_quotas_tolerance_amount %>
      <%= f.text_field :budget_quotas_tolerance_amount %>
    </p>

    <!-- Setting for billable for different rate types -->
    <!-- When rate type is set to only_for_billable_time_entries = false -->
    <!-- Time Entry will have an expense of 0 for given rate type -->

  </div>
  <div class="form-actions">
    <%= submit_tag l(:button_save), :class => 'button-positive' %>
  </div>
<% end %>


